{%  load static %}
<div class="row">
       <div class="col 12">
            {% if ticket.user == user  %}
                    You have published a ticket
            {% else %}
                {{ ticket.user|title }} request a review
            {% endif %}
       </div>
   </div>
  <div class="row">
        <div class="col 12 right">
            {{ ticket.time_created}}
        </div>
   </div>
    <div class="row">
        <div class="col 12">
            {{ ticket.title}}
        </div>
   </div>
   <div class="row">
        <div class="col 12">
            {{ ticket.description}}
        </div>
   </div>
   <div class="row">
        <div class="col 12">
            {% if ticket.image %}
                <img class="responsive-img" src="{% static  ticket.image.url  %}" alt="{{ ticket.title }}'s image" />
            {% endif %}
        </div>
</div>