{%  load static %}
<div class="row">
       <div class="col s12">
            {% if review.user == user  %}
                    You have published a review
            {%  else %}
                {{ review.user|title }} has published a review
            {% endif %}
       </div>
   </div>
  <div class="row">
        <div class="right">
            {{ review.time_created}}
        </div>
   </div>
    <div class="row">
        <div class="col s6">
            {{ review.headline}}
        </div>
        <div class="col s6">
            {% with ''|center:review.rating as range %}

            {%  for _ in range %}
                *
            {% endfor %}
        {% endwith %}
        </div>
   </div>
   <div class="row">
        <div class="col s12">
            {{ review.body}}
        </div>
   </div>
 <div class=" card-panel hoverable">
    {% include "managelitreview/_snippet_ticket.html" with ticket=review.ticket %}

 </div>