{%  extends 'base.html' %}
{%  load static %}
{% block content %}
{% if review %}
    <p>Update review</p>
{% else %}
    <p>Create review</p>
{%  endif %}
<form action="" method="post"  enctype="multipart/form-data">
{% csrf_token %}
 <div class="container card-panel hoverable">
      {% if ticket %}
       {% include "managelitreview/_snippet_ticket.html" with ticket=ticket %}
    {%  endif %}
 </div>
<div class="container card-panel hoverable">
    <div class="row">
        <div class="col 12 ">
            {% include "managelitreview/_snippet_form_review.html" %}
        </div>
    </div>
    <div class="row ">
    <div class="col 12 right">
      <input class="waves-effect waves-light btn " type="submit" value="Send">
    </div>
</div>
</div>

</form>


{% endblock content %}