{%  extends 'base.html' %}
{%  load static %}
{% block content %}
{% if review %}
    <p>Update review</p>
{% else %}
    <p>Create review</p>
{%  endif %}
<form action="" method="post"  enctype="multipart/form-data">
{% csrf_token %}
 <div class="container card-panel hoverable">
      {{ ticket_form }}
     {% if review.ticket %}
        <div class="row ">
            <div class="col 12 ">
                {% if review.ticket.image %}
                    <img class="responsive-img" src="{% static  review.ticket.image.url  %}" alt="{{ review.ticket.title }}'s image" />
                {% endif %}
            </div>
       </div>
    {%  endif %}
 </div>
<div class="container card-panel hoverable">
    <div class="row">
        <div class="col 12 ">

            {% for field in review_form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row ">
    <div class="col 12 right">
      <input class="waves-effect waves-light btn " type="submit" value="Send">
    </div>
</div>
</div>

</form>
{% endblock content %}