{%  extends 'base.html' %}

{%  block content %}
   <div class="row">
        <div class="col s6">
            <a class="waves-effect waves-light btn" type="submit" href="{% url 'managelitreview:create_review' %}" >Request a review</a>
        </div>
          <div class="col s6">
            <a class="waves-effect waves-light btn" type="submit" href="{% url 'managelitreview:create_ticket' %}" >
                Create a ticket</a>
        </div>
   </div>
       {% include "managelitreview/_snippet_posts.html" %}
{% endblock %}